body
{
margin:0;
padding: 0;
box-sizing: border-box;
overflow: hidden;
background:linear-gradient(#f4f4ed , white);
}

.container
{
    border:1px solid black;
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator
{
    width: 370px;
    margin: auto;
    border-radius: 2px;
    background: color #f2f2f2;
    padding: 15px 15px 20px 20px;
    box-shadow: 0px 3px 3px 2px rgba(0 , 0 , 0 , 0.19);
}

#userinput
{
    width: 100%;
    padding: 50px 5px;
    background-color:whitesmoke;
    text-align: right;
    direction: ltr;
    outline: none;
    border: none;
    margin-top: 10px;
    font-size: larger;
    font-weight: bold;
}

.btn
{
    width: 24%;
    height: 45px;
    border-radius: 1px;
    border: none;
    outline: none;
    margin-top: 3px;
    background-color: whitesmoke;
}

.btnequal
{
    width: 99%;
    height: 45px;
    border-radius: 1px;
    border: none;
    outline: none;
    margin-top: 3px;
    background-color: whitesmoke;
}

.btn:hover , .btnequal:hover
{
    cursor: pointer;
    background-color: rgb(219, 232, 242);
}

@media (width < 350px)
{
    .btn
    {
        width: 22.5%;
    }
}

